/* responsive design */
@media only screen and (max-width: 472px) {
    #mobile-header img {
        margin-top: 20px;
        max-width: 40%;
        margin-left: 20px;
    }
    
    #nav-header {
        display: none;
    }
    #section-one {
        height: 45%;
    }
    #section-one h2 {
      font-size: 28px;
    }
    
    #section-one p {
        font-size: 16px;
        line-height: 20px;
    }
    #section-one img {
      display: none;
    }
    #section-one button {
        font-size: 16px;
        padding: 10px 16px;
    }

    /* section two */
    #section-two h2 {
        font-size: 28px;
    }

    /* section three */
    #section-three h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }
    #section-three h4 {
        margin-top: 10px;
    }

    #section-four h2{
        font-size: 28px;
    }
  }

  @media only screen and (min-width: 991px) {
    #section-one{
        height: 75%;
    }
}       


  @media only screen and (min-width: 768px) {
    #mobile-header{
        display: none;
    }
    
}
  
@media only screen and (max-width: 768px) {
    #nav-header{
        display: none;
    }
    
}
