/* responsive design */
@media only screen and (min-width: 376px) {
    #mobile-header a{
        color: white;
    }
}
@media only screen and (max-width: 376px) {
    #mobile-header a{
        color: white;
    }
    #nav-header {
        display: none;
    }

    h2 {
      font-size: 20px;
    }
    
    p {
        font-size: 14px;
        line-height: 20px;
    }
    h4 {
        font-size: 14px;
    }
    #section-one img {
      display: none;
    }

    #section-one button {
        font-size: 14px;
        padding: 10px 16px;
    }

    #section-three h4 {
        margin-top: 10px;
    }

  }
  @media only screen and (min-width: 769px){
    #mobile-header{
        display: none;
    }
  }
@media only screen and (max-width: 768px){
    #mobile-header {
        margin-top: 20px;
    }

    #mobile-header img{
        margin-top: 5px;
        max-width: 100%;
    }
    #mobile-nav-links a{
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        color: white;
        font-size: 16px;
        padding: 5px;
        background-color: #0aa085;
    }

    #nav-header {
        display: none;
    }

    #section-one img{
        display: none;
    }

    #section-one h2{
        font-size: 32px;
    }
}@media only screen and (max-width: 576px){
    #mobile-nav-links a{
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        color: #333c4d;
        font-size: 14px;
    }
    
    #mobile-header img{
        max-width: 80%;
    }
    
    #section-one h2{
        font-size: 18px;
    }#section-two h2{
        font-size: 18px;
    }
    #section-three h2{
        font-size: 18px;
    }
    #section-four h2{
        font-size: 18px;
    }
    #section-one p {
        font-size: 14px;
    }
    #section-two p {
        font-size: 14px;
    }
    #section-three p {
        font-size: 14px;
    }
    #section-four p {
        font-size: 14px;
    }

    #section-two h4 {
        font-size: 14px;
    }
    #section-three h4 {
        font-size: 14px;
        margin-top: 14px;
    }

    #section-four h4 {
        font-size: 14px;
        margin-top: 14px;
    }

    #section-one button {
        font-size: 14px;
        padding: 10px 20px;
    }
}


