<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <div class="container">
      <div class="row">
        <form action="" method="POST">
          {% csrf_token %}
          <span>{{form.name}}</span><br>
          <span> {{form.password}}</span><br>
          <span>{{form.confirm_password}}</span><br>
          {% if form.errors %}
          <div style="color: red;">
                  {% for error in form.non_field_errors %}
                     <span>{{ error }}</span>
                  {% endfor %}
          </div>
          {% endif %}
          <button type="submit">Register</button>
        </form>
        
</body>
</html>
