<!-- login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Login</title>
</head>
{% include 'preloader.html' %}
<header class="container-md" id="nav-header">
    <div class="row mx-2 mt-3">
        <div class="col-9">
            <a href="{% url 'get_started' %}">
                <img src="{% static 'assets/logo3.png' %}" alt="logo">
            </a>
        </div>
    </div>
</header>
<body>
    <div class="container d-flex justify-content-center">
        <form method="post" action="{% url 'user_login' %}">
            <h3>Login</h3>
            {% csrf_token %}
            <input type="text" id="id_username"  class="user-input" name="username" placeholder="Username" required><br>
            <div>
                <input type="password" id="id_password"  class="user-input" name="password" placeholder="Password" required>
                <input type="checkbox" class="show-password-checkbox" onclick="togglePassword('id_password')"> Show
            </div>
            {% if error %}
            <p style="color: red;">{{ error }}</p>
            {% endif %}
            <div class="text-end"><button type="submit" id="btn" class="text-end">Login</button><br></div>
            <p class="text-center">Don't have an account yet? <a href="{% url 'user_registration' %}">Register Here</a> </p>
            
        </form>
       
</div>
    
    
</body>

<script>
    function togglePassword(fieldId) {
        var field = document.getElementById(fieldId);
        if (field.type === "password") {
            field.type = "text";
        } else {
            field.type = "password";
        }
    }
</script>
</html>
